html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex: 1;
}

.footer {
  position: sticky;
  width: 100vw;
}



.header {
  background-color: #000000;
  color: white;
  text-align: left;
  position: sticky;
  top: 0;
  padding-left: 20px;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .header-title {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .header {
    width: 100%;
  }
  .header-title {
    font-size: 18px;
  }
}
